:root {
  --radius: 1rem;

  --background: #e8e6da;
  --foreground: #3b564d;

  --card: #e0e0d4;
  --card-foreground: #3b564d;

  --popover: #e0e0d4;
  --popover-foreground: #3b564d;

  --primary: #3b564d;
  --primary-foreground: #e8e6da;

  --secondary: #b9c5b1;
  --secondary-foreground: #3b564d;

  --muted: #e0e0d4;
  --muted-foreground: #3b564d;

  --accent: #d3beb9;
  --accent-foreground: #3b564d;

  --destructive: #a74343;
  --border: #b9c5b1;
  --input: #e0e0d4;
  --ring: #3b564d;

  --chart-1: #3b564d;
  --chart-2: #b9c5b1;
  --chart-3: #d3beb9;
  --chart-4: #e0e0d4;
  --chart-5: #e8e6da;

  --sidebar: #e0e0d4;
  --sidebar-foreground: #3b564d;
  --sidebar-primary: #3b564d;
  --sidebar-primary-foreground: #e8e6da;
  --sidebar-accent: #d3beb9;
  --sidebar-accent-foreground: #3b564d;
  --sidebar-border: #b9c5b1;
  --sidebar-ring: #3b564d;
}